<div class="main-container">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">
        <div *ngFor="let product of products">
          <div class="product-box">
            <img [src]="product.imageUrl" alt="product image" />
            <a href="#">{{product.name}}</a>
            <div class="product-price">
              <span class="price">{{product.unitPrice | currency}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
